<section class="about" id="apropos">
  <img src="img/191588504.jpeg" alt="Youcef Bendra" class="avatar">

  <div class="about-content">
    <h2>À propos de moi</h2>
    <p>
      Bonjour ! Je m'appelle <strong>Youcef Bendra</strong>, étudiant en <strong>MBA développeur full stack</strong> à Lyon, passionné par <strong>le développement web</strong> et <strong>les technologies modernes</strong>
      , Je conçois des applications à la fois performantes, accessibles et agréables à utiliser.
    </p>

    <p>
      Je suis actuellement à la recherche d’un <strong>poste de développeur web</strong> Curieux, rigoureux et toujours en quête d’amélioration, j’aime apprendre, expérimenter et donner du sens aux projets que je réalise.
      Ce portfolio présente <strong>mon parcours, mes compétences et mes principales réalisations.</strong>

    </p>
  </div>
</section>
