<section class="about" id="apropos">
  <img src="img/191588504.jpeg" alt="Youcef Bendra" class="avatar">


    <h2>À propos de moi</h2>
    <p>
      Bonjour ! Je m'appelle <strong>Youcef Bendra</strong>, étudiant en <strong>L3 MIAGE</strong> à Lyon, passionné par le développement web et les technologies frontend.
    </p>
    <p>
      Je suis à la recherche d’une <strong>alternance</strong> dans le développement web, avec un intérêt particulier pour <strong>Angular, TypeScript</strong> et les interfaces modernes et accessibles.
    </p>
    <p>
      Motivé, curieux et rigoureux, j’aime apprendre et construire des projets qui ont du sens. Ce portfolio est un aperçu de mon parcours et de mes réalisations !
    </p>
  </section>
