main {

    padding-top: 60px; // adapte selon la hauteur exacte du header
    padding-left: 16px;
    padding-right: 16px;
  }

  mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
  }