<section class="skills" id="skills">
  <h2>Mes compétences</h2>
  <ul>
    @for (item of skills; track $index){
      <li>
        <div class="skill-info">
          <span class="skill-name">{{ item.name }}</span>
          <span class="skill-level">{{ item.level }}</span>
        </div>
        <div class="skill-bar">
          <div class="skill-fill" style="width: {{ item.percentage }}%;"></div>
        </div>
      </li>
    }
    @if (skills.length === 0) {
      <p>Aucune compétence pour le moment.</p>
    }
  </ul>
</section>
