<section class="contact-section" id="Retrouvez-moi">
    <h2 class="section-title">Retrouvez-moi</h2>

    <p class="intro-text">
      Vous pouvez me joindre directement ou consulter mes profils ci-dessous :
    </p>
    <div class="contact-cards">

      <div class="contact-card">
        <i class="fa-brands fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/youcef-bendra-006aa5314/" target="_blank">LinkedIn</a>
      </div>

      <div class="contact-card">
        <i class="fa-brands fa-github"></i>
        <a href="https://github.com/Youcef1712" target="_blank">GitHub</a>
      </div>

      <div class="contact-card">
        <i class="fa-solid fa-phone"></i>
        <span>+33 6 52 23 52 00</span>
      </div>

      <div class="contact-card">
        <i class="fa-solid fa-location-dot"></i>
        <span>Lyon, France</span>
      </div>
    </div>
  </section>
